{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="btn-group w-100 my-3">
    <button class="btn btn-primary">Réserver</button>
    <a href="{{ path('home') }}" class="btn-secondary btn">Accueil</a>
</div>
{{ form_end(form) }}
