{% extends 'base.html.twig' %}

{% block title %}PerfectParty | Home{% endblock %}

{% block body %}
    {% include 'default/navigation.html.twig' %}

    <h1>Somethings go wrong, please try again ! </h1>

{% endblock %}
