@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Playfair+Display&display=swap');
$blue: #01859A;

body {
    font-family: 'Acme', sans-serif;
    background-color: #F2F2F2;

    .title-party, .title-nav, .blue-content{
        color: $blue;

    }
    #reservation div{
        display: flex;
        flex-direction: column;

    }

    .presentation{
        height: 40vh;
    }
    .image-presentation img{
        height: 100%;
        width: auto;
        object-fit: cover;

    }
    .card img{
        height: 15rem;
        object-fit: cover;
    }
}
@media only screen and (max-width: 600px){
    .title-text{
        display: none;
    }
}