{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="btn-group my-2 w-100">
    <button class="btn btn-primary">Enregistrer</button>
    <a href="{{ path('home') }}" class="btn btn-secondary">Accueil</a>
</div>
{{ form_end(form) }}
